* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

label.register{
  display: none;
  padding-top: 30px;
  text-align: center;
}

label.is-visible {
  display: block;
}

label.label-heading p {
  font-size: 1em;
  color: white;
}

/* error popup */
label .label-text {
  color: #fff;
  cursor: text;
  font-size: 2em;
  line-height: 20px;
  text-transform: uppercase;
  -moz-transform: translateY(-34px);
  -ms-transform: translateY(-34px);
  -webkit-transform: translateY(-34px);
  transform: translateY(-34px);
  transition: all 0.3s;
}

/* input box styling*/
label input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #fff;
  color: white;
  font-size: 1.2em;
  letter-spacing: .05em;
  padding: .1rem 1.3rem;
  text-align: center;
    width: 15rem;
}

select {
  width: 240px;
  font-size: 18px;
  min-height: 40px;
  padding: 5px 20px;
  background-color: transparent;
  color: #ffffff;
}

button:hover,
button:focus {
  background-color: #000;
  color: #fff;
  outline: none;
}

#validate {
  color: #f3f3f3;
  font-weight: 700;
  text-align: center;
}

label.label-heading {
  display: block;
  padding: .2rem 1.1rem;
  font-size: 1.3em;
  color: #f0f0f0;
  text-align: center;
}

.is-visible input:checked{
  color: #ffffff;
  text-shadow: 0 0  6px rgba(0, 0, 0, 0.8)
}


.input-btn {
  margin-top: 2rem;
  color: #ffffff;
}

.input-btn ::selection,
.input-btn :hover {
  background-color: #ffffff;
  color: #000;
}

.form-button {
  background: transparent;
  color: #f0f0f0;
  border: 2px solid #f0f0f0;
  font-size: 1em;
  letter-spacing: 2px;
  padding: 5px 25px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}




