@font-face {
    font-family: archivo-regular;
    src: url(../fonts/Archivo-Regular.ttf);
  }
 
  @font-face {
    font-family: archivo-light;
    src: url(../fonts/Archivo-Light.ttf);
  }
 
  @font-face {
    font-family: archivo-bold;
    src: url(../fonts/Archivo-Bold.ttf);
  }
 
  @font-face {
    font-family: clash-regular;
    src: url(../fonts/ClashDisplay-Regular.ttf);
  }
 
  @font-face {
    font-family: clash-medium;
    src: url(../fonts/ClashDisplay-Medium.ttf);
  }
 
  @font-face {
    font-family: clash-light;
    src: url(../fonts/ClashDisplay-Light.ttf);
  }
 
  @font-face {
    font-family: clash-bold;
    src: url(../fonts/ClashDisplay-Bold.ttf);
  }

body{
    padding: 0;
    margin: 0;
}

.nav {
    display: flex;
    padding-left: 4em;
    padding-right: 4em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    width: 16em;
    height: 4em;
    position: fixed;
    bottom: 0;
    z-index: 200;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2em;
    box-shadow: 0px 14px 14px 0px rgba(0, 0, 0, 0.25);
}

.nav ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 80%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.nav li {
    list-style: none;
    width: 2em;
    height: 2em;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav li img{
    height: 2rem;
}

.overview {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.swiper-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.overview-film-hero {
    flex-shrink: 0;
    width: 100%;
    height: 48vh;
    background-color: blue;
    position: relative;
}
 
.overview-film-hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(33,33,33,0.41222426470588236) 53%, rgba(120,120,120,0) 63%, rgba(255,255,255,0) 100%);
    z-index: 1;
}
 
.overview-film-hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 
.overlay-content {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2;
}

.overlay-content h2 {
    font-family: 'clash-bold', sans-serif;
    padding-top: 1em;
    font-size: 1.5em;
    line-height: 1em;
    text-shadow: 0px 0px 19px rgba(0, 0, 0, 1);
    margin-bottom: 0;
}

.overlay-content h3{
    font-family: 'archivo-light', sans-serif;
    font-size: 0.9375em;
    margin-top: 0;
}

.overlay-content button{
    border: none;
    background-color: #FF673E;
    width: 145px;
    height: 2.5em;
    font-family: 'clash-bold', sans-serif;
    color: white;
    font-size: 0.875em;
    border-radius: 11px;
    text-transform: uppercase;
}

.film-slider-container {
    flex-grow: 1;
    padding-top: 30px;
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -4em;
    z-index: 100;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.gsap-wrapper::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.gsap-wrapper {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.gsap-wrapper {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 20px;
    box-sizing: border-box;
}

.gsap-slide {
    flex: 0 0 auto;
    margin-right: 10px;
}
 
.film-slider-container-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
 
.film-slider-container-items form{
    width: 90%;
}
 
.search-form input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background-color: #D9D9D9;
    height: 48px;
    border-radius: 30px;
    padding-left: 35px;
    background-image: url('../images/search.svg');
    background-position: 7px center;
    background-repeat: no-repeat;
}
 
.search-form input[type="text"]::placeholder {
    font-family: 'Archivo', sans-serif;
}
 
.inline-items {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    align-items: center;
}

.inline-items h2 {
    font-family: 'clash-bold', sans-serif;
    font-size: 1.3em;
    text-transform: uppercase;
}

.inline-items a {
    font-family: 'archivo-regular', sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: black;
}

.movie-card img{
    height: 100%;
    width: 11em;
    object-fit: cover;
}

/* FILMDETAIL */
/* Filmdetail - movie poster */
.filmdetail-poster {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1.5em;
    position: relative;
}

.filmdetail-cursor {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 100%;
    left: 100%;
    margin: -25px 0 0 -25px;
    background: rgb(255, 103, 63);
    border-radius: 2em;
    backface-visibility: hidden;
    z-index: -1;
}

.filmdetail-poster-img {
    height: 100%;
    width: 100vw;
    position: absolute;
    object-fit: cover;
    z-index: -1;
}

.filmdetail-poster div:first-of-type {
    display: flex;
    justify-content: space-between;
}

.filmdetail-poster div button {
    margin: 1em;
    padding: 0.5em;
    height: 3em;
    width: 6em;
    border: none;
    border-radius: 10px;
    background-color:  rgb(255, 103, 63);
    box-shadow: 0px 1px 10px rgb(0, 0, 0, 0.5);
    color: white;
    text-transform: capitalize;
}

.filmdetail-poster div button:hover {
    background-color: black

}

.filmdetail-poster div button:nth-of-type(2) {
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.filmdetail-poster div h1 {
    font-family: clash-bold;
    text-transform: uppercase;
    margin: 0;
    font-size: 2.5em;
    color: white;
}

.filmdetail-poster div p {
    font-family: archivo-light;
    color: white;
    font-size: 0.9em;
    margin: 0;
    margin-bottom: 1em
}

.filmdetail-poster-gradient {
    background: linear-gradient(to bottom, transparent, black);
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 20em;
    z-index: -1;
    opacity: 50%;
}

.filmdetail-favorite-icon {
    max-width: 100%;
    max-height: 100%;
    width: 2.5em;
}



/* filmdetail - description */
.filmdetail-description {
    text-align: center;
    margin: 0.5em;
    margin-bottom: 2em;
}

.filmdetail-description p:first-of-type{
    margin-bottom: 3em;
    font-family: archivo-bold;
    font-size: 0.8em;
}

.filmdetail-description p:nth-of-type(2){
    font-family: archivo-regular;
    font-size: 0.9em;
}

.filmdetail-description p:nth-of-type(3){
    font-family: archivo-light;
    margin: 0;
    font-size: 0.75em;
    margin-bottom: 7em;
}

.filmdetail-watchnow {
    padding: 0.5em;
    width: 80vw;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 103, 63);
    font-family: archivo-bold;
    animation: filmdetail-glow 2s ease-in-out infinite alternate;
}

.filmdetail-watchnow:hover {
    background-color: black;
    color: white;
}

.filmdetail-recepten-button{
    font-family: clash-bold;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2em;
    font-size: 1.5em;
    animation: filmdetail-showup 2s ease-in-out;
}
/* Recipe */
.filmdetail-recipe {
    margin-left: 1em;
    margin-right: 1em;
}

.filmdetail-recipe h2{
    margin: 0;
    font-family: clash-light;
    text-transform: capitalize;
    font-size: 2em;
}

.filmdetail-recipe-lists {
    margin: 0;
    margin-bottom: 2em;
    animation: filmdetail-showup 1s ease-in-out;
}


/* first recipe */
.filmdetail-recipe1 {
    padding: 0;
    list-style-type: none;
}

.filmdetail-recipe .filmdetail-active {
    display: none;
}

.filmdetail-recipe2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.filmdetail-recipe-options {
    margin: 0;
    padding: 0.5em;
    list-style-type: none;
    background-color: gray;
}

.filmdetail-recipe-buttons {
    background-color: transparent;
    border: solid;
    border-color: rgb(255, 103, 63);
    border-width: 0.2em;
    border-radius: 10px;
    width: 100%;
    padding: 0.5em;
    margin-bottom: 3em;
}

.filmdetail-recipe-buttons:hover {
    animation: filmdetail-border 2s ease-in-out;
}

.filmdetail-space {
    width: 100%;
    height: 6em;
    opacity: 0;
    background-color: white;
}

/* ingredients */
.filmdetail-ingredients-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filmdetail-ingredients-section h3 {
    font-family: archivo-bold;
    font-size: 1em;
    text-transform: uppercase;
}

.filmdetail-ingredients {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2em 2em 2em 2em;
    margin-bottom: 3em;
    list-style-type: disc;
}

.filmdetail-ingredients li  {
    text-transform:capitalize;
    font-family: archivo-medium;
    font-size: 0.9em;
}

/* Swiper function / instructions */
main .filmdetail-swiper {
    position: relative;
}

main .filmdetail-swiper .filmdetail-wrapper .filmdetail-slide {
    display: flex;
    margin-bottom: 3em;
}

.filmdetail-instructies-titel {
    font-family: archivo-bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
}

.filmdetail-swiper {
    color: white;
    justify-content: space-between;
    align-items: center;
    height: 15em;
    border-radius: 25px;
}

.filmdetail-wrapper {
    width: 70vw;
    padding: 0;
    margin: 0;
    text-align: center
}

.filmdetail-swiper .filmdetail-slide {
    width: 50vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filmdetail-slide p {
    margin-left: 1em;
    width: 50vw;
    max-width: 80%;
    margin-right: 1em;
    font-family: archivo-medium;
}

.filmdetail-recipe .filmdetail-button-prev, 
.filmdetail-recipe .filmdetail-button-next {
    background: none;
    width: 44px;
    height: 20px;
    padding: 0;
    color: white !important;
    border-radius: 1em;
    border: none;
}

.swiper-pagination-bullet-active {
    background-color: #ffffff !important;
}

.swiper-pagination-bullet {
    background-color: #ffffff !important;
}

.filmdetail-swiper .filmdetail-recipe-lists .filmdetail-pagination {
    background-color: white;
    width: 20em;
}

/* Animations */
.filmdetail-hidden {
    opacity: 0;
    transition: all 1s;
}

.filmdetail-show {
    opacity: 1;
    transition: 2s;
}

@keyframes filmdetail-glow {
    from {
      box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    }
    to {
      box-shadow: 0 0 30px rgb(0, 0, 0, 0.5), 0 0 10px rgb(0, 0, 0, 0.5)
    }
  }



  @keyframes filmdetail-showup {
    0% {opacity:0;}
    100% {opacity:1;}
  }



/* Responsive */
@media (max-width: 1300px) {
    .filmdetail-cursor {
        display: none;
    }
}


@media (min-width: 870px) {
    .filmdetail-watchnow {
        width: 50vw;
    }
    .filmdetail-recipe-lists {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2em;
        border: solid;
        border-color:  rgb(194, 194, 194);
        border-width: 0.5em;
        padding: 2em;
        border-radius: 10px;
        min-width: 90vw;
        height: 25em;
    }
    .filmdetail-recipe-buttons {
        width: 50%;
    }
    .filmdetail-recipe {
        margin-left: 1em;
        margin-right: 1em;
        display: flex;
        flex-direction: column;
        align-items: center
    }
    .filmdetail-ingredients li  {
        font-size: 1em;
    }
    .filmdetail-swiper {
        width: 50vw;
    }
    .filmdetail-slide p {
        font-size: 1.1em;
    }
}

@media (min-width: 1300px) {
    .filmdetail-description p:nth-of-type(2) {
        font-family: archivo-regular;
        font-size: 1em;
    }
    .filmdetail-ingredients li  {
        font-size: 1em;
        padding: 2em;
        padding-left: 0;
    }
    .filmdetail-swiper {
        width: 50vw;
        height: 40vh;
    }
    .filmdetail-slide p {
        font-size: 1.20em;
        max-width: 60%;
    }
}

/* css favourites page */

.logo-wrapper {
    background-color: #ff673e;
    width: 100vw;
    height: 20vh;
    padding-top: 5vh;
    font-family: 'Clashdisplay', sans-serif;
    text-transform: uppercase;
  }
   
  .sublogo {
    color: #fff;
    font-size: 1.65rem;
    text-align: center;
    font-family: clash-bold;
  }
   
  .logo {
    color: #000;
    font-size: 2rem;
    text-align: center;
    font-family: clash-bold;
    margin-top: -.7em;
  }
  
  .favourites {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
   
  .cta {
    font-size: 1.5rem;
    text-align: center;
    font-family: clash-bold;
    text-transform: uppercase;
  }
  
  .swiper-container {
    width: 90vw;
    padding-top: 4em;
    padding-bottom: 3em;
    /* background-color: white; */
    z-index: 100;
    overflow: hidden;
  }
   
  .swiper-slide {
    width: 10em !important;
  }
   
  .swiper-slide img {
    display: block;
    width: 100%;
    border-radius: 1rem;
    height: 15rem;
  }


  /* signup */

.signup{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
label.register{
  display: none;
  padding-top: 30px;
  text-align: center;
}

label.is-visible {
  display: block;
}

label.label-heading p {
  font-size: 1em;
  color: #000;
}

/* error popup */
label .label-text {
  color: #000;
  cursor: text;
  font-size: 2em;
  line-height: 20px;
  text-transform: uppercase;
  -moz-transform: translateY(-34px);
  -ms-transform: translateY(-34px);
  -webkit-transform: translateY(-34px);
  transform: translateY(-34px);
  transition: all 0.3s;
}

/* input box styling*/
label input {
  background-color: #c3c3c3;
  border: 0;
  border-bottom: 2px solid #000;
  color: #000;
  font-size: 1.2em;
  letter-spacing: .05em;
  padding: .1rem 1.3rem;
  text-align: center;
}

button:hover,
button:focus {
  background-color: #000;
  color: #fff;
  outline: none;
}

#validate {
  color: #FF673E;
  font-weight: 700;
  text-align: center;
}

label.label-heading {
  display: block;
  padding: .2rem 1.1rem;
  font-size: 1.3em;
  text-align: center;
}

.is-visible input:checked{
  color: #717171;
  text-shadow: 0 0  6px rgba(0, 0, 0, 0.8)
}

.input-btn {
  margin-top: 2rem;
  color: #717171;
}

.form-button {
  background: transparent;
  color: #000;
  border: 2px solid #000;
  font-size: 1em;
  letter-spacing: 2px;
  padding: 5px 25px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: .1rem;
}

/* Genre Checkboxxes */
.genre-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.genre-grid li {
  margin: 4px;
  background-color: #FF673E;
  border-radius: 4px;
  /* border: 1px solid #000; */
  overflow: hidden;
  justify-content: center;
  color: #fff;
}

/* IMDB Rating slider */

.slidecontainer {
  width: 100%;
  margin-top: 1rem;
}

.slider {
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #FF673E;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #FF673E;
  cursor: pointer;
}
  /* css overviewall page */

  .animate-image{
    width: 80%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5em;
  }

  .overview-all{
    width: 100%;
    position: absolute;
    padding-bottom: 6em;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: white;
    z-index: 150;
    top: 38%;
  }

  .overview-all h2{
    font-family: 'clash-bold', sans-serif;
    padding-left: 1em;
    padding-top: 1em;
    margin: 0;
  }

  .overview-all-film-hero {
    flex-shrink: 0;
    width: 100%;
    height: 48vh;
    background-color: blue;
    position: relative;
}

.overview-all-film-hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(33,33,33,0.41222426470588236) 53%, rgba(120,120,120,0) 63%, rgba(255,255,255,0) 100%);
    z-index: 1;
}

.overview-all-film-hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-content-all {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2;
}

.overlay-content-all h2 {
    font-family: 'clash-bold', sans-serif;
    padding-top: 1em;
    font-size: 1.5em;
    line-height: 1em;
    text-shadow: 0px 0px 19px rgba(0, 0, 0, 1);
    margin-bottom: 0;
}

.overlay-content-all h3{
    font-family: 'archivo-light', sans-serif;
    font-size: 0.9375em;
    margin-top: 0;
}

.overlay-content-all button{
    border: none;
    background-color: #FF673E;
    width: 145px;
    height: 2.5em;
    font-family: 'clash-bold', sans-serif;
    color: white;
    font-size: 0.875em;
    border-radius: 11px;
    text-transform: uppercase;
}

/* css search page */

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.search-movie {
  display: grid;
  place-items: center;
  height: 100vh;
}

.search-movie form{
  position: absolute;
  top: 0;
  width: 90%;
  margin: 1em auto 0 auto;
}
 
.search-movie input[type="text"] {
    box-sizing: border-box;
    border: none;
    background-color: #D9D9D9;
    height: 48px;
    border-radius: 30px;
    padding-left: 35px;
    background-image: url('../images/search.svg');
    background-position: 7px center;
    background-repeat: no-repeat;
}
 
.search-movie input[type="text"]::placeholder {
    font-family: 'Archivo', sans-serif;
}

.search-movie h2{
  font-family: 'clash-bold', sans-serif;
  text-transform: uppercase;
  font-size: 2em;
}