<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>
    <!-- HEADER -->
    <header>
        <section class="filmdetail-poster">
            <img class="filmdetail-poster-img" src="https://via.placeholder.com/150?text=Image+1">

            <div>
                <button>go back</button>
                <button><img class="filmdetail-favorite-icon" src="../static/images/favorite.svg"
                        alt="svg icon"></button>
            </div>
            <div>
                <h1><%= title %></h1>
                <p>american movie</p>
            </div>
            <div class="filmdetail-poster-gradient"></div>
        </section>
    </header>
    <!----MAIN----->
    <main>
        <!-- Film description -->
        <section class="filmdetail-description">
            <button class="filmdetail-watchnow">watch now</button>
            <p>02:47:00</p>
            <p>Set in the distant future, the film follows Paul Atreides as his family,
                the noble House Atreides, is thrust into a war for the deadly
                and inhospitable desert planet Arrakis
            </p>
            <p>25/04/2019</p>
        </section>

        <!-- recipe -->
        <p class="filmdetail-aangebodenrecepten">aangeboden recepten</p>
        <article class="filmdetail-recipe">

            <h2>american burger</h2>


            <!-- ingrediënts -->
            <section class="filmdetail-ingredients-section">
                <h3>ingrediënts</h3>
                <ul class="filmdetail-ingredients">
                    <li>salad</li>
                    <li>bread</li>
                    <li>cheese</li>
                    <li>meat</li>
                    <li>pickle</li>
                    <li>mayonaise</li>
                    <li>onion</li>
                    <li>olive oil</li>
                    <li>egg</li>
                    <li>mixed dried herbs</li>
                </ul>
            </section>
            <!-- instructions -->
            <section class="swiper filmdetail-swiper">
                <ul class="swiper-wrapper filmdetail-wrapper">
                    <li class="swiper-slide filmdetail-slide">
                        <p>Heat the olive oil in a frying pan, add the onion and cook for 5minutes.
                        </p>
                    </li>
                    <li class="swiper-slide filmdetail-slide">
                        <p>In a bowl, combine the beef with the herbs and the egg.
                            Season, add the onions and mix well.</p>
                    </li>
                    <li class="swiper-slide filmdetail-slide">
                        <p>Cook the burger on a preheated pan for 5-6 minutes on each side.</p>
                    </li>
                    <li class="swiper-slide filmdetail-slide">
                        <p>Meanwhile, lightly toast the cut-side of the buns on the hot pan.</p>
                    </li>
                </ul>

                <div class="swiper-pagination filmdetail-pagination"></div>
                <button class="swiper-button-prev filmdetail-button-prev"></button>
                <button class="swiper-button-next filmdetail-button-next"></button>

            </section>



        </article>



    </main>

    <!-- FOOTER -->
    <footer>
        <nav></nav>
    </footer>



    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module" src="../static/js/filmdetail.js"></script>

</body>

</html>