<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <!-- HEADER -->
    <header>
        <section class="filmdetail-poster"> 
            <div>
                <button>go back</button>
                <button></button>
            </div>
               <div>
                <h1>dune</h1>
                <p>american movie</p>
               </div>
        </section>
    </header>
    <!----MAIN------->
    <main>
        <!-- Film description -->
        <section class="filmdetail-description">
            <button class="filmdetail-watchnow">watch now</button>
            <p>02:47:00</p>

            <p>Set in the distant future, the film follows Paul Atreides as his family,
                the noble House Atreides, is thrust into a war for the deadly
                and inhospitable desert planet Arrakis
            </p>
            <p>25/04/2019</p>
        </section>

        <!-- recipe -->
        <p>aangeboden recepten</p>
        <article class="filmdetail-recipe">
            <details>
                <summary>american burger</summary>


                   <!-- ingrediënts -->
            <section class="ingredienten">
                <h3>ingrediënts</h3>
                <ul class="filmdetail-ingredients">
                    <li>salad</li>
                    <li>bread</li>
                    <li>cheese</li>
                    <li>meat</li>
                    <li>pickle</li>
                    <li>mayonaise</li>
                    <li>onion</li>
                    <li>olive oil</li>
                    <li>egg</li>
                    <li>mixed dried herbs</li>
                </ul>
            </section>
                <!-- instructions -->
            <section class="instructies swiper">
           
                <button class="swiper-button-prev"></button>
                <button class="swiper-button-next"></button>

                <ul class="swiper-wrapper">
                    <li class="swiper-slide">
                        <p>heat the olive oil in a frying pan, add the onion and cook for 5minutes.</p>
                    </li>

                    <li class="swiper-slide">
                        <p>in a bowl, combine the beef with the herbs and the egg.
                            Season, add the onions and mix well.</p>
                    </li>

                    <li class="swiper-slide">
                        <p>cook the burger on a preheated pan for 5-6 minutes on each side.</p>
                    </li>

                    <li class="swiper-slide">
                        <p>meanwhile, lightly toast the cut-side of the buns on the hot pan.</p>
                    </li>
                </ul>

                <p class="swiper-pagination"></p>
            </section>



            </details>


         



        </article>



    </main>

<!-- FOOTER -->
    <footer>
        <nav></nav>
    </footer>
        
  
  
    <script src="../static/js/filmdetail.js"></script>
</body>
</html>