<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup testpage</title>
</head>
<body>
    <h1>Signup</h1>
    <form action="/new-user" method="POST">
        <label for="">Username</label>
        <input type="text" name="username" required>

        <br>

        <label for="">Password</label>
        <input type="password" name="password" required>
        
        <p>Favorite color</p>
        <input type="radio" value="red" name="color" id="rood">
        <label for="rood">Rood</label>
        <input type="radio" value="blue" name="color" id="blauw">
        <label for="blauw">Blauw</label>
        <input type="radio" value="green" name="color" id="groen">
        <label for="groen">Groen</label>


        <input type="submit" value="Sign up">
    </form>
</body>
</html>