<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup testpage</title>
  <link rel="stylesheet" href="../static/css/form.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
  <form >
    <label id="username" class="register is-visible">
      <label class="label-heading" for="username">What's will be your username?</label>
      <input name="username" type="text" placeholder="username" required />

      <div class="input-btn">
        <button type="button" class="form-button" value="next" onclick="next('username','email')">OK <i
            class="fa fa-check" aria-hidden="true"></i></button>
        Press <strong>Enter ↵</strong>
      </div>
      <div class="input-btn">
        <i class="fa fa-arrow-down" style="font-size:24px" onclick="next('username','email')"></i>
      </div>
    </label>
    <label id="email" class="register">
      <label class="label-heading" for="email">Your email address</label>
      <input type="email" name="email" placeholder="email" required />
      <br>
      <div class="input-btn">
        <button type="button" class="form-button" value="next" onclick="next('email','password')">OK</button>
        Press <strong>Enter ↵</strong>
      </div>
      <div class="input-btn">
        <i class="fa fa-arrow-up" style="font-size:2em" onclick="previous('email', 'email')"></i>
        <i class="fa fa-arrow-down" style="font-size:2em" onclick="next('email','password')"></i>
      </div>
    </label>
    <label id="password" class="register">
      <label class="label-heading" for="password">Password</label>
      <input type="password" name="password" placeholder="password" required />
      <br>
      <div class="input-btn">
        <button type="button" class="form-button" value="next" onclick="next('password','genre')">OK <i
            class="fa fa-check" aria-hidden="true"></i></button>
        Press <strong>Enter ↵</strong>
      </div>
      <div class="input-btn">
        <i class="fa fa-arrow-up" style="font-size:2em" onclick="previous('password', 'email')"></i>
        <i class="fa fa-arrow-down" style="font-size:2em" onclick="next('password','genre')"></i>
      </div>
    </label>
    <label id="genre" class="register">
      <label class="label-heading" for="genre">What genre's do you like</label>
      <input type="checkbox" value="1"<span>History</span>
      <input type="checkbox" value="1"<span>Action</span>
      <input type="checkbox" value="1"<span>Romantic</span>
      <input type="checkbox" value="1"<span>Family</span>
      <br>
      <div class="input-btn">
        <button type="button" class="form-button" value="next" onclick="next('age','address')">OK <i class="fa fa-check"
            aria-hidden="true"></i></button>
        Press <strong>Enter ↵</strong>
      </div>
      <div class="input-btn">
        <i class="fa fa-arrow-up" style="font-size:2em" onclick="previous('genre', 'password')"></i>
      </div>
    </label>
    <p id="validate"></p>
  </form>
</body>
<script>
  let error = document.getElementById('validate');
  let label = document.getElementsByTagName("label");

  document.getElementById("username")
    .addEventListener("keyup", function (e) {
      if (e.keyCode === 13) {
        e.preventDefault();
        next("username", "email");
      }
    });

  document.getElementById("email")
    .addEventListener("keyup", function (e) {
      if (e.keyCode === 13) {
        e.preventDefault();
        next('email', 'password');
      }
    });

  document.getElementById("password")
    .addEventListener("keyup", function (e) {
      if (e.keyCode === 13) {
        e.preventDefault();
        next('password', 'genre');
      }
    });

  document.getElementById("genres")
    .addEventListener("keyup", function (e) {
      if (e.keyCode === 13) {
        e.preventDefault();
        next('genres', 'rating');
      }
    });

  document.getElementById("rating")
    .addEventListener("keyup", function (e) {
      if (e.keyCode === 13) {
        e.preventDefault();
        next('rating');
      }
    });


  function next(from, to) {
    error.innerHTML = "";
    let value = document.getElementById(from).children[1].value;
    if (!value || value === "") {
      error.innerHTML = "Please enter a value";
    }
    else {
      error.innerHTML = "";
      document.getElementById(from).classList.remove('is-visible');
      document.getElementById(to).classList.add('is-visible');
    }
  }

  function previous(from, to) {
    error.innerHTML = "";
    console.log();
    document.getElementById(from).classList.remove('is-visible');
    document.getElementById(to).classList.add('is-visible');
  }
</script>

</html>