<!DOCTYPE html>
<html lang="en">
    <body>
        

<form action="/profile/settingsnew" method="post" enctype="multipart/form-data">
    <input type="file" name="avatar" />
    <input type="submit" value="verstuur">
</form>
</body>