<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Profile</h1>
    <img src="../static/uploads/<%= pictureFilename %>" style="width: 100%" alt="">
    <p>Account name</p>
    <p><%= username %></p>
    <p>Genre's</p>
    <p><%= genresCleanArray %></p>
    <p>Rating</p>
    <p><%= rating %></p>
    <a href="/profile/settings">change profile settings</a>
</body>
</html>