<!DOCTYPE html>
<html lang="en">
    <body>
<form action="/profile/settingsnew" method="post" enctype="multipart/form-data">
    <input type="file" name="avatar" accept="image/png, image/jpeg, image/gif"/>
    <p>Accepted file types: png, jpeg and gif</p>
    <input type="submit" value="verstuur">
</form>
</body>